<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h1{
  text-align: center;
  color:darkred;
  background-color:deepskyblue;
}
li a:hover {
  background-color: #111;
}
</style>
</head>
<body>
 

<h1>Stock Market Exchange </h1>
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#login">Login</a></li>
        <li><a href="#register">Register</a></li>
        <li><a href="#logout">Logout</a></li>
      </ul>
      <p>Stockexchane chariting is the main part of the markeing </p>
      <img src="stock.jpg" alt="Girl in a jacket" width=100% height=100%>
      <p></p>
      
      
      </body>
      </html>
      